# Exercises I

1. Run python -m pip install pymysql from your terminal to install the mysql client (any folder is fine)
2. cd into your exercises folder for this module and run echo env.py >> .gitignore

In [1]:
from pydataset import data
import pandas as pd
import numpy as np

In [2]:
from env import host, user, password

3. Create a function named get_db_url. It should accept a username, hostname, password, and database name and return a url connection string formatted like in the example at the start of this lesson.

In [3]:
def get_db_url(db_name):
    from env import user, host, password
    return f'mysql+pymysql://{user}:{password}@{host}/{db_name}'

4. Use your function to obtain a connection to the employees database.

In [4]:
sql = """
    SELECT * from employees limit 3000
    """

url = get_db_url("employees")

df = pd.read_sql(sql, url)

df

      emp_no  birth_date first_name last_name gender   hire_date
0      10001  1953-09-02     Georgi   Facello      M  1986-06-26
1      10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2      10003  1959-12-03      Parto   Bamford      M  1986-08-28
3      10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4      10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12
...      ...         ...        ...       ...    ...         ...
2995   12996  1964-12-07     Khalil   Madeira      F  1992-07-14
2996   12997  1956-09-22       Zine     Swist      F  1991-03-22
2997   12998  1956-09-02     Nadjib   Rindone      M  1991-01-23
2998   12999  1963-10-13      Taizo    Koyama      F  1991-11-06
2999   13000  1955-01-31    Adhemar    Chiodo      F  1994-05-11

[3000 rows x 6 columns]

5. Once you have successfully run a query:

a. Intentionally make a typo in the database url. What kind of error message do you see?

b. Intentionally make an error in your SQL query. What does the error message look like?

6. Read the employees and titles tables into two separate DataFrames.

In [8]:
query = '''
    SELECT
    t.title as title,
    e.employees as employees
    print t
'''

title_dept = pd.read_sql(query, url)

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'print t' at line 4")
[SQL:
    SELECT
    t.title as title,
    e.employees as employees
    print t
]
(Background on this error at: http://sqlalche.me/e/14/f405)

In [ ]:
employees =

7. How many rows and columns do you have in each DataFrame? Is that what you expected?

In [ ]:
employees.shape

In [ ]:
titles.shape

8. Display the summary statistics for each DataFrame.

In [ ]:
employees.info()

In [ ]:
employees.describe()

In [ ]:
titles.info()

In [ ]:
titles.describe()

9. How many unique titles are in the titles DataFrame?

In [ ]:
len(titles.title.valuecounts())

10. What is the oldest date in the to_date column?

In [ ]:
titles.to_date.sort_values(ascending=False)

In [ ]:
titles.to_date.sort_values(ascending=False).head(1)

11. What is the most recent date in the to_date column?

In [ ]:
titles.to_date.sort_values(descending=False)

# Exercises II

1. Copy the users and roles DataFrames from the examples above.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Create the roles DataFrame

roles = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['admin', 'author', 'reviewer', 'commenter']
})
roles

In [ ]:
# Create the users DataFrame.

users = pd.DataFrame({
    'id': [1, 2, 3, 4, 5, 6],
    'name': ['bob', 'joe', 'sally', 'adam', 'jane', 'mike'],
    'role_id': [1, 2, 3, 3, np.nan, np.nan]
})
users

2. What is the result of using a right join on the DataFrames?

In [ ]:
# Perform an outer join specifying the left and right DataFrame keys.

users.merge(roles, left_on='role_id', right_on='id', how='right')

3. What is the result of using an outer join on the DataFrames?

In [ ]:
# Perform an outer join specifying the left and right DataFrame keys.
# Perform an outer join specifying the left and right DataFrame keys.

users.merge(roles, left_on='role_id', right_on='id', how='outer', indicator=True)

4. What happens if you drop the foreign keys from the DataFrames and try to merge them?

In [ ]:
# Can't because need foreign keys to connect 2 dataframes

5. Load the mpg dataset from PyDataset.

In [ ]:
import pydataset
from pydataset import data
mpg = data('mpg')

6. Output and read the documentation for the mpg dataset.

In [ ]:
mpg = data('mpg', show_doc=True)

7. How many rows and columns are in the dataset?

In [ ]:
mpg = data('mpg')
mpg.shape

8. Check out your column names and perform any cleanup you may want on them.

In [ ]:
mpg.columns

9. Display the summary statistics for the dataset.

In [ ]:
mpg.describe()

10. How many different manufacturers are there?

In [ ]:
len(mpg['manufacturer'].unique())

11. How many different models are there?

In [ ]:
mpg.model.value_counts()

In [ ]:
len(mpg['model'].unique())

12. Create a column named mileage_difference like you did in the DataFrames exercises; this column should contain the difference between highway and city mileage for each car.

In [ ]:

mileage_difference = mpg.hwy - mpg.cty

mpg.head()

13. Create a column named average_mileage like you did in the DataFrames exercises; this is the mean of the city and highway mileage.

In [ ]:
mpg['average_mileage'] = (mpg.hwy + mpg.cty) / 2

mpg.head()

14. Create a new column on the mpg dataset named is_automatic that holds boolean values denoting whether the car has an automatic transmission.

In [ ]:
mpg.trans.value_counts()

In [ ]:
mpg['is_automatic'] = mpg.trans.apply(lambda value : value[0] == 'a')

In [ ]:
mpg['is_automatic'] = mpg.trans.str.startswith('a')

In [ ]:
mpg.sample(10)

15. Using the mpg dataset, find out which which manufacturer has the best miles per gallon on average?

In [ ]:
mpg.groupby('manufacturer')

In [ ]:
mpg.groupby('manufacturer').average_mileage

In [ ]:
mpg.groupby('manufacturer').average_mileage.sort_values().tail(1)

16. Do automatic or manual cars have better miles per gallon?

# Exercises III

1. Use your get_db_url function to help you explore the data from the chipotle database.

In [ ]:
def get_db_url(db_name):
    from env import user, host, password
    return f'mysql+pymysql://{user}:{password}@{host}/{db_name}'

In [ ]:
sql = """
    SELECT * from orders
    """

url = get_db_url("chipotle")

df = pd.read_sql(sql, url)

df

2. What is the total price for each order?

In [ ]:
df.groupby("order_id").item_price.sum()
# $ makes the numbers = a String

3. What are the most popular 3 items?

In [7]:
df.groupby('item_name').quantity.agg('sum').sort_values(ascending=False).head(3)

KeyError: 'item_name'

4. Which item has produced the most revenue?

5. Join the employees and titles DataFrames together.

In [6]:
employee_titles = pd.merge(employees, titles, left_on='emp_no', right_on='emp_no', how='inner')
employee_titles

NameError: name 'employees' is not defined

6. For each title, find the hire date of the employee that was hired most recently with that title.

7. Write the code necessary to create a cross tabulation of the number of titles by department. (Hint: this will involve a combination of SQL code to pull the necessary data and python/pandas code to perform the manipulations.)