In [64]:
import numpy as np
import math as m
a = np.array([4, 10, 12, 23, -2, -1, 0, 0, 0, -6, 3, -7])

1. How many negative numbers are there?

In [79]:
negative_numbers = a[a < 0]
negative_numbers.size

4

2. How many positive numbers are there?

In [76]:
positive_numbers = a[a > 0]
positive_numbers.size

5

3. How many even positive numbers are there?

In [81]:
positives = a > 0
evens = a % 2 == 0
a[positives & evens].size

3

4. If you were to add 3 to each data point, how many positive numbers would there be?

In [82]:
add_three = a + 3
positives = a > 0
positives.size

12

5. If you squared each number, what would the new mean and standard deviation be?

In [87]:
squares = a ** 2
{
    "mean": squares.mean(),
    "standard_deviation": squares.std()
}

{'mean': 74.0, 'standard_deviation': 144.0243035046516}

In [69]:
squared.mean()

74.0

In [70]:
squared.std()

144.0243035046516

6. A common statistical operation on a dataset is centering. This means to adjust the data such that the mean of the data is 0. This is done by subtracting the mean from each data point. Center the data set. See this link for more on centering.

In [83]:
centered = a - a.mean()
centered

array([  1.,   7.,   9.,  20.,  -5.,  -4.,  -3.,  -3.,  -3.,  -9.,   0.,
       -10.])

7. Calculate the z-score for each data point. Recall that the z-score is given by:

- z = (x − μ) / σ

In [84]:
zscores = (a - a.mean()) / a.std()
zscores

array([ 0.12403473,  0.86824314,  1.11631261,  2.48069469, -0.62017367,
       -0.49613894, -0.3721042 , -0.3721042 , -0.3721042 , -1.11631261,
        0.        , -1.24034735])

In [86]:
a.std()

8.06225774829855


# Life w/o numpy to life with numpy
## Setup 1

In [88]:
import numpy as np
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

 Use python's built in functionality/operators to determine the following:
 
 Exercise 1 - Make a variable called sum_of_a to hold the sum of all the numbers in above list

In [63]:
sum_of_a = sum.a()

AttributeError: 'builtin_function_or_method' object has no attribute 'a'

Exercise 2 - Make a variable named min_of_a to hold the minimum of all the numbers in the above list

Exercise 3 - Make a variable named max_of_a to hold the max number of all the numbers in the above list

Exercise 4 - Make a variable named mean_of_a to hold the average of all the numbers in the above list

Exercise 5 - Make a variable named product_of_a to hold the product of multiplying all the numbers in the above list together

Exercise 6 - Make a variable named squares_of_a. It should hold each number in a squared like [1, 4, 9, 16, 25...]

Exercise 7 - Make a variable named odds_in_a. It should hold only the odd numbers

Exercise 8 - Make a variable named evens_in_a. It should hold only the evens.

## What about life in two dimensions? A list of lists is matrix, a table, a spreadsheet, a chessboard...
## Setup 2: Consider what it would take to find the sum, min, max, average, sum, product, and list of squares for this list of two lists.

Exercise 1 - refactor the following to use numpy. Use sum_of_b as the variable. **Hint, you'll first need to make sure that the "b" variable is a numpy array**

sum_of_b = 0
for row in b:
    sum_of_b += sum(row)

In [89]:
b = [
    [3, 4, 5],
    [6, 7, 8]
]

# Exercise 2 - refactor the following to use numpy. 
min_of_b = min(b[0]) if min(b[0]) <= min(b[1]) else min(b[1])

# Exercise 3 - refactor the following maximum calculation to find the answer with numpy.
max_of_b = max(b[0]) if max(b[0]) >= max(b[1]) else max(b[1])

# Exercise 4 - refactor the following using numpy to find the mean of b
mean_of_b = (sum(b[0]) + sum(b[1])) / (len(b[0]) + len(b[1]))

# Exercise 5 - refactor the following to use numpy for calculating the product of all numbers multiplied together.
product_of_b = 1
for row in b:
for number in row:
product_of_b *= number

# Exercise 6 - refactor the following to use numpy to find the list of squares 
squares_of_b = []
for row in b:
for number in row:
squares_of_b.append(number**2)

# Exercise 7 - refactor using numpy to determine the odds_in_b
odds_in_b = []
for row in b:
for number in row:
if(number % 2 != 0):
odds_in_b.append(number)

# Exercise 8 - refactor the following to use numpy to filter only the even numbers
evens_in_b = []
for row in b:
for number in row:
if(number % 2 == 0):
evens_in_b.append(number)

# Exercise 9 - print out the shape of the array b.

# Exercise 10 - transpose the array b

# Exercise 11 - reshape the array b to be a single list of 6 numbers. (1 x 6)

# Exercise 12 - reshape the array b to be a list of 6 lists, each containing only 1 number (6 x 1)

## Setup 3

In [74]:
c = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# HINT, you'll first need to make sure that the "c" variable is a numpy array prior to using numpy array methods.
# Exercise 1 - Find the min, max, sum, and product of c.

# Exercise 2 - Determine the standard deviation of c.

# Exercise 3 - Determine the variance of c.

# Exercise 4 - Print out the shape of the array c

# Exercise 5 - Transpose c and print out transposed result.

# Exercise 6 - Get the dot product of the array c with c.

# Exercise 7 - Write the code necessary to sum up the result of c times c transposed. Answer should be 261

# Exercise 8 - Write the code necessary to determine the product of c times c transposed. Answer should be 131681894400.

## Setup 4

In [101]:
d = [
    [90, 30, 45, 0, 120, 180],
    [45, -90, -30, 270, 90, 0],
    [60, 45, -45, 90, -45, 180]
]

# Exercise 1 - Find the sine of all the numbers in d

In [95]:
np.sin(d)

array([[ 0.89399666, -0.98803162,  0.85090352,  0.        ,  0.58061118,
        -0.80115264],
       [ 0.85090352, -0.89399666,  0.98803162, -0.17604595,  0.89399666,
         0.        ],
       [-0.30481062,  0.85090352, -0.85090352,  0.89399666, -0.85090352,
        -0.80115264]])

# Exercise 2 - Find the cosine of all the numbers in d

In [93]:
np.cos(d)

array([[-0.44807362,  0.15425145,  0.52532199,  1.        ,  0.81418097,
        -0.59846007],
       [ 0.52532199, -0.44807362,  0.15425145,  0.98438195, -0.44807362,
         1.        ],
       [-0.95241298,  0.52532199,  0.52532199, -0.44807362,  0.52532199,
        -0.59846007]])

# Exercise 3 - Find the tangent of all the numbers in d

In [96]:
np.tan(d)

array([[-1.99520041, -6.4053312 ,  1.61977519,  0.        ,  0.71312301,
         1.33869021],
       [ 1.61977519,  1.99520041,  6.4053312 , -0.17883906, -1.99520041,
         0.        ],
       [ 0.32004039,  1.61977519, -1.61977519, -1.99520041, -1.61977519,
         1.33869021]])

# Exercise 4 - Find all the negative numbers in d

In [100]:
d < 0

TypeError: '<' not supported between instances of 'list' and 'int'

# Exercise 5 - Find all the positive numbers in d

# Exercise 6 - Return an array of only the unique numbers in d.

# Exercise 7 - Determine how many unique numbers there are in d.

In [102]:
np.unique(d)

array([-90, -45, -30,   0,  30,  45,  60,  90, 120, 180, 270])

# Exercise 8 - Print out the shape of d.

In [103]:
np.shape(d)

(3, 6)

# Exercise 9 - Transpose and then print out the shape of d.

# Exercise 10 - Reshape d into an array of 9 x 2

### shape = property (acts like a noun,does not need () )
### sum() = method (acts like a verb, needs() )